torch~=1.12
torchvision~=0.13

h5py~=3.9
einops~=0.5
imageio~=2.22
imageio-ffmpeg~=0.4
numpy~=1.23
pytest~=7.1
jaxtyping~=0.2.19
scikit-image~=0.19.3
scipy~=1.10.1
pandera~=0.15.1
lpips~=0.1
tensorboard~=2.14.0
pydantic==1.10.13 # Need to have larger than 1.10.2 for Literal
ruamel.yaml~=0.17
customtkinter~=5.2
tables~=3.9
Pillow==9.5.0 # tensorboard reasons
numba
pytorch-ignite # for SSIM and PSNR
av # for reading video